.list-activities{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.card{
    margin-top: 1rem;
    background-color: #2A3D45;
    color: white;
}

.card-link{
    color: white;
    text-decoration: none;
}