.text{
    line-height: 3;
    letter-spacing: 0.5px;

}
.card{
    background-color: #393d3f;;
    color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    
}

a{
    text-decoration: none;
    color: white;
    font-weight: 200;
}

p.refe {
    font-weight: 800;
}

@media (min-width: 1200px) {
    .card{
        margin-bottom: 5rem;
    }
}
@media (min-width: 1400px) {
    .card{
        margin-bottom: 15rem;
    }
}