<div class="card  mt-3 shadow p-3 mb-5  " style="height: 100%">
    <div class="card-body">
     <h1 class="text-center mb-4 mt-2">¿Qué es SPA?</h1>
     <hr>
     <p class="text mt-4">
        Cómo va ser Sprencia el player de referencia del sector sénior. Ofreciendo a los séniores actividades formativas atractivas con las que mejorar su día a día. Esta misión se va a materializar en un marketplace de actividades formativas presenciales diseñadas especialmente para el público senior. Que las actividades sean de tipo formativas es una decisión tomada a partir de la investigación de mercado que han realizado, en la que los resultados obtenidos son muy clarificadores: las actividades que los señores más consumen y más buscan son actividades formativas. Así, apostando por este tan creciente como admirable segmento de población, Sprencia va a llevar a cabo su visión: ser el primer pensamiento de las personas mayores en el primer día de su segunda vida.</p>

    <br>
     <address>
       <p class="refe">Email:  <a href="mailto: sprecnia&#64;contacto.com"> sprecnia&#64;contacto.com</a></p>
      
       <p class="refe">Telefono: <a href="callto:+34 960789657"> 960789657</a></p>
       <p class="refe">Oficinas: <a href="#"> C/ Bulevar 50, Barcelona 28057</a></p>
     </address>
    </div>
  </div>
