.text{
    line-height: 3;
    letter-spacing: 0.5px;

}
.card{
    background-color: #2A3D45;
    color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 200;
}

p.refe {
    font-weight: 800;
}